* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.content {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 30px;
}

.content img {
    height: 40vmin;
    animation: reactLogo infinite 20s linear;
}

@keyframes reactLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}